* {
  margin: 10px;
  padding: 10px;
}
.user,
.pass {
  padding: 5px;
  background-color: #d0ebf7;
  border-color: #4287f5;
  border-radius: 5px;
  font-size: medium;
}
.btn {
  padding: 5px;
  background-color: #d0ebf7;
  border-color: #4287f5;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-size: medium;
}
