* {
  margin: 10px;
  padding: 10px;
}
body{
  background-image: url("01.jpg");
}
.container-sm {
  max-width: 500px;
  padding-top: 100px;
}
.card-body{
  background-color: floralwhite;
}
.user,
.pass {
  padding: 5px;
  background-color: #d0ebf7;
  border-color: #4287f5;
  border-radius: 5px;
  font-size: medium;
}
.btn {
  padding: 5px;
  background-color: #d0ebf7;
  border-color: #4287f5;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-size: medium;
}
